.fab {
    color: #333333;
}

img {
    height: 215px;
    width: auto;
}

.card-content {
    height: 110px;
    width: auto;
}

.card-title {
    background-color: grey;
    opacity: .85;
    width: 100%;
}